
        .main {
            width: 600px;
            height: 300px;
            border: 2px solid;
        }

    
        .a {
            background-color: white;
            height: 100px;
            width: 600px;
        }

        .b {
            background-color:#00a651 ;
            height: 100px;
            width: 600px;
        }
        

        .c{
            background-color: #ed1c24;
            height: 100px;
            width: 600px;
        }
        

         .main {
            width: 600px;
            height: 300px;
            border: 2px solid;
        }

    
        .d {
            background-color: #231f20;
            height: 100px;
            width: 600px;
        }

        .e {
            background-color:#ed1b24 ;
            height: 100px;
            width: 600px;
        }
        

        .f{
            background-color:#fdce62 ;
            height: 100px;
            width: 600px;
        }

        
         .main {
            width: 600px;
            height: 300px;
            border: 2px solid;
        }

    
        .g {
            background-color: #ed1b24;
            height: 100px;
            width: 600px;
        }

        .h {
            background-color:white ;
            height: 100px;
            width: 600px;
        }
        

        .i{
            background-color:#00a652;
            height: 100px;
            width: 600px;
        }